<html>

    <head>
        <title>{{title}}</title>
    </head>

    <body>
        <div
            style="
            max-width: 600px; 
            margin: 0 auto; 
            border: 1px solid #016670; 
            background-color: #EDEAE5; 
            padding: 20px;"
        >
            <div
                style="
                text-align: center; 
                margin-bottom: 10px;"
            >
                <a href="https://imgur.com/KtlxJ1X"><img
                        src="https://i.imgur.com/KtlxJ1X.png"
                        title="source: imgur.com"
                    /></a>
            </div>

            <div
                style="
                text-align: center; 
                margin-bottom: 20px;"
            >
                <h2 style="color: #016670;">
                    {{heading}}
                </h2>
            </div>

            <div>
                <h3
                    style="
                    color: #016670;
                    text-align: center; 
                    margin-bottom: 20px;"
                >
                    Your
                    {{rewardname}}
                    reward has been redeemed successfuly!
                </h3>
                <hr />
                <p
                    style="
                    color: #016670;"
                >
                    Please redeem your
                    {{rewardname}}
                    using this code:
                    {{rewardcode}}
                </p>
                <p
                    style="
                    color: #016670
                    margin-bottom: 20px;"
                >
                    Thank you for using Charge!
                </p>
                <hr />
                <p
                    style="
                    color: #016670;"
                >
                    Please note that rewards are non-refundable - for more
                    queries please contact our support.
                </p>
            </div>

            <footer
                style="
                text-align: center; 
                margin-top: 20px;
                font-size: 10px;"
            >
                <p>
                    &copy;
                    {{year}}
                    Charge
                </p>
                <p>Email: electricchargecars@gmail.com | Phone: +65 88334669</p>
            </footer>
        </div>
    </body>

</html>